<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Taking </title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="container min-w-full min-h-screen bg-zinc-900 text-white ">
        <h1 class="w-full py-5 px-10 text-center mx-auto text-orange-400 shadow shadow-black text-3xl font-black leading-none">Task Taking</h1>
      <div class="form px-10 py-4 w-full">
        <form action="/create" method="post">
          <input
            type="text"
            name="taskname"
            placeholder="Your task title..."
            class="block w-full my-1 py-3 text-md outline-none px-5 rounded-md bg-zinc-800"
          />
          <textarea
            name="taskdetails"
            class="block w-full py-2 outline-none text-md px-5 resize-none my-1 rounded-md bg-zinc-800"
            placeholder="Write your task details..."
          ></textarea>
          <input
            type="submit"
            value="Create task"
            class="block font-medium lg:w-fit w-full mx-auto lg:mx-0 cursor-pointer hover:bg-orange-700 py-2 my-1 outline-none lg:px-5 rounded-md bg-orange-600"
          />
        </form>
      </div>
      <div class="p-10 w-full flex flex-wrap justify-center md:justify-center lg:justify-start gap-4 items-center">
        <% if(files.length > 0 ) { files.forEach((elem) => {%>
        <div class="cards py-2 min-w-full md:min-w-80 lg:min-w-64 px-5 bg-zinc-800 rounded-md">
          <h1 class="tracking-tight text-2xl font-medium leading-none">
            <%= elem.slice(0, -4) %>
          </h1>
          <a href="/details/<%= elem %>" class="text-blue-500 mt-1 inline-block">Read more.</a>
        </div>
        <%})} else{ %>
        <h1 class="text-white/40">No tasks..</h1>
        <% } %>
      </div>
    </div>
  </body>
</html>
